/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* topbar starts */
    .topbar_text{
        text-align: center;
    }  
    .phone{
        /* padding-right:119px; */
        font-size: 18px;
        text-align: center;
    }
    .info{
        font-size: 18px;
        text-align: center;
    }
    /* topbar ends */
    /* header start */
    .menu{
        background: #fc4c8d;;
    }
    .menu ul li a{
        text-align: center;
        }
    /* header ends */
    /* slider startsss */
    .slider{
        padding-bottom: 20px;
    }
    .content{
        text-align: center;
    }
    .content h4{
        font-weight: 400;
        font-size: .7rem !important;
    }
    .custom_h1{
        font-size: 2rem !important;
    }
    .btn_custom{
            width: 120px;
            height: 35px;
            margin-top: 20px;
            font-size: 11px;   
            color: #fff;
            transition: 0.5s;
    }
    button:focus {outline:0;}
    /* slider endsss */
     /* about us begins */
     .aboutUs{
        padding: 30px 0;
    }
    .top{
        text-align: center;
    }
    
    .top h1{
        font-size: 30px;
    }
    .top h5{
        font-size: 17px;
    }
    .middle{
        padding-bottom: 15px;
    }
    /* about us endss */
    /* projects begins */
    .project{
        padding: 50px 0;
    }
    .left_text{
        text-align: center;
        padding-bottom:20px;
    }
    .left_text h1{
        font-size: 33px;
        margin-bottom: 4px;
    }
    .left_text h5{
        font-size: 19px;
    } 
    .left_text p{
        padding-bottom: 0;
    }   
    .btn_custom1{
        width: 185px;
        height: 52px;
        font-size: 15px; 
        margin-top: 40px;
    }
    .pb{
        width: 170px;
        height: 40px;
    }
    .project img{
        padding-bottom: 20px;
        display: block;
        margin: 0 auto;
    }
    .single-team{
        height: 300px;
        padding-top: 100px;
    }
    .single-team h2{
    }
    .single-team h4{}
    .single-team i{
        padding-top: 10px;
        font-size: 2rem;
    }
    .single-team a{
        margin-top: 50px;
    }
    .notVisible h3{
        text-align: center;
    }
    /* projects ends */
    /* testimonials begin */
    .testimonials{
        padding: 40px 20px;
        text-align: center;
    }
    .testimonials h1{
        font-size: 33px;
    }
    .testimonials h5{
        font-size: 19px;
    }
    .testimonials p{
        font-size: 14px;
    }
    .custom-indicator{
        bottom: -40px;
    }
    /* testimonials endss */
    /* blog starts */
    .blog{
        padding: 30px 0;
    }
    .blog h1{
        font-size: 33px;
    }
    .blog h4{
        font-size: 19px;
    }
    .custom-card{
    }
    .bb{
        width: 140px !important;
        height: 40px !important;
    }
    .btn_custom2{
        font-size: 15px;
    }
    /* blog ends */
    /* contact begins */
    .contact{
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .contact-btn{
        margin-top: 0;
        width: 130px;
        height: 40px;
    }
    /* contact endss */
    /* footer begins */
    .l{
        margin-top: 20px;
        text-align: center;
    }
    .m{
        margin-top: 20px;
        text-align: center;
    }
    .r{
        margin-top: 20px;
        text-align: center;
    }
    .r p{
        padding: 3px 0 !important;
    }
    .x{
        margin-top: 32px;
        text-align: center;
    }
    /* footer ends */
    /* .bulk{
        top: 160px;
    } */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* topbar starts */
    .topbar_text{
        text-align: center;
    }  
    .phone{
        float: left;
        padding-right:100px;
        font-size: 18px;
        border-right: 1px solid #898989;
    }
    .info{
        float: right;
        font-size: 18px;
    }
    /* topbar ends */
    /* header start */
    .menu{
        background: #fc4c8d;
    }
    .menu ul li a{
        text-align: center;
        }
    /* header ends */
    /* slider starts */
    .slider_content{
        padding: 130px 0;
    }
    .slider_content h4{
        font-weight: 400;
        font-size: 1rem !important;
    }
    .custom_h1{
        font-size: 2.5rem !important;
    }
    .btn_custom{
            width: 130px;
            height: 35px;
            margin-top: 20px;
            font-size: 14px;    
    }
    /* slider ends */
     /* about us begins */
    .aboutUs{
        padding: 40px 0;
    }
    .middle{
        padding-bottom: 20px;
    }
    /* about us endss */
    /* projects begins */
    .project{
        padding: 70px 0;
    }
    .left_text{
        padding-bottom: 25px;
    }
    .left_text h1{
        margin-bottom: 4px;
    }
    .left_text h5{
        font-size: 19px;
    } 
    .left_text p{}   
    .btn_custom1{
        width: 185px;
        height: 52px;
        margin-top: 35px;
        font-size: 15px; 
    }
    .project img{
        padding-bottom: 20px;
    }
    .single-team{
        height: 375px;
        padding-top: 168px;
    }
    .single-team h2{
    }
    .single-team h4{}
    .single-team i{
        padding-top: 10px;
        font-size: 2rem;
    }
    .single-team a{
        margin-top: 50px;
    }
    .notVisible h3{
        text-align: center;
    }
    /* projects ends */
    /* testimonials begins */
    .testimonials{
        padding-top: 50px;
        padding-bottom: 78px;
    }
    .testimonial-header h1{
        text-align: center;
        font-size: 2.5rem;
    }
    .testimonials h5{
        font-size: 19px;
        text-align: center;
    }
    .testimonials p{
        text-align: center;
        font-size: 14px;
    }
    .custom-indicator{
        bottom: -50px;
    }
    /* testimonial ends */
    /* blog starts */
    .blog{
        padding: 50px 0;
    }
    .blog h4{
        font-size: 19px;
    }
    .btn_custom2{
        font-size: 15px;
    }
    /* blog ends */
    /* contact bagins */
    .contact{
        padding-top: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
    .contact-btn{
        margin-top: 0;
    }
    /* contact ends */
    /* footer begins */
    .r{
        margin-top: 20px;
    }
    /* footer ends */
    /* .bulk{
        top: 134px;
    } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* topbar starts */
    .phone{
        float: left;
        padding-right:35px;
        font-size: 18px;
        border-right: 1px solid #898989;
    }
    .info{
        float: right;
        font-size: 18px;
    }
    /* topbar ends */
    /* header start */
    .menu{
        background: #fc4c8d;
    }
    .menu ul li a{
        text-align: center;
        }
    /* header ends */
    /* slider starts */
    .slider_content{
        padding: 150px 0;
    }
    .slider_content h4{
        font-weight: 400;
        font-size: 1.2rem !important;
    }
    .custom_h1{
        font-size: 3rem !important;
    }
    .btn_custom{
        width: 150px;
        height: 43px;
        margin-top: 20px;
        font-size: 15px;    
    }
    /* slider ends */
    /* about us begins */
    .aboutUs{
        padding: 50px 0;
    }
    .middle{
        padding-bottom: 25px;
    }
    /* about us endss */
    /* projects begins */
    .project{
        padding: 70px 0;
    }
    .left_text{
        padding-bottom: 30px;
    }
    .left_text h1{
        margin-bottom: 4px;
    }
    .left_text h5{
        font-size: 19px;
    } 
    .left_text p{}   
    .btn_custom1{
        width: 185px;
        height: 52px;
        margin-top: 12px;
        font-size: 15px; 
    }
    .single-team{
        height: 300px;
        padding-top: 100px;
    }
    .single-team h2{
    }
    .single-team h4{}
    .single-team i{
        padding-top: 10px;
        font-size: 2rem;
    }
    .single-team a{
        margin-top: 50px;
    }
    /* projects ends */
    /* testimonials begins */
    .testimonials{
        
    }
    .tmm{
        margin-bottom: 33px;
    }
    .testimonials img{
        padding-top: 150px;
    }
    .custom_carousel h1{
        font-size: 25px;
    }
    .custom_carousel h5{
        font-size: 20px;
    }
    .custom_carousel p{
        font-size: 15px;
    }
    .custom-indicator{
        bottom: -43px;
        margin-bottom: 0;
    }
    /* testimonials endss */
    /* blog starts */
    .blog{
        padding: 60px 0;
    }
    .btn_custom2{
        font-size: 15px;
    }
    /* blog ends */
    /* contact bagins */
    .contact{
        /* padding-top: 50px; */
    }
    .contact-btn{
        margin-top: 0;
    }
    .lt{
        margin-top: 60px !important;
    }
    .contact img{
        margin-top: 144px;
    }
    /* contact ends */
    /* .bulk{
        top: 131px;
    } */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
        /* topbar starts */
        .phone{
            float: left;
            padding-right:88px;
            font-size: 18px;
            border-right: 1px solid #898989;
        }
        .info{
            float: right;
            font-size: 18px;
        }
        /* topbar ends */
        /* slider starts */
        .slider_content{
            padding: 180px 0;
        }
        .slider_content h4{
            font-weight: 400;
            font-size: 1.4rem !important;
        }
        .custom_h1{
            font-size: 3.5rem !important;
        }
        .btn_custom{
            width: 180px;
            height: 50px;
            margin-top: 20px;
            font-size: 16px;    
        }
        /* slider ends */
        /* about us begins */
        .aboutUs{
            padding: 80px 0;
        }
        .middle{
            padding-bottom: 40px;
        }
        /* about us endss */
         /* projects begins */
        .left_text{
            padding-bottom: 30px;
        }
        .left_text h1{
            margin-bottom: 4px;
        }
        .left_text h5{
            font-size: 19px;
        } 
        .left_text p{}   
        .btn_custom1{
            width: 190px;
            height: 50px;
            margin-top: 17px;
            font-size: 16px; 
        }
        .single-team{
            height: 435px;
            padding-top: 168px;
        }
        .single-team h2{
        }
        .single-team h4{}
        .single-team i{
            padding-top: 10px;
            font-size: 2rem;
        }
        .single-team a{
            margin-top: 50px;
        }
        .project{
            padding: 100px 0;
        }
        /* projects ends */
           /* testimonials begins */
        .custom-indicator{
             bottom: -48px;
            }
        /* testimonials ends */
        /* blog starts */
        .blog{
            padding: 70px 0;
        }
        .btn_custom2{
            font-size: 16px;
        }
        /* blog ends */
         /* contact bagins */
        .contact{
            padding-top: 50px;
        }
        .contact-btn{
            margin-top: 0;
        }
        .lt{
            margin-top: 5px;
        }
        .contact img{
            padding-top: 75px;
        }
        /* contact ends */
        /* .bulk{
            top: 110px;
        } */
    }


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* topbar starts */
    .phone{
        float: left;
        padding-right:120px;
        font-size: 21px;
        border-right: 1px solid #898989;
    }
    .info{
        float: right;
        font-size: 21px;
    }
    /* topbar ends */
       /* slider starts */
    .slider_content{
        padding: 210px 0;
    }
    .slider_content h4{
        font-weight: 400;
        font-size: 1.6rem !important;
    }
    .custom_h1{
        font-size: 4.5rem !important;
    }
    .btn_custom{
        width: 180px;
        height: 50px;
        margin-top: 20px;
        font-size: 17px;    
    }
    /* #ABOUTUS1{
        position: relative;
        bottom: 80px;
    } */
    /* slider ends */
    /* about us begins */
    .aboutUs{
        padding: 100px 0;
    }
    .middle{
        padding-bottom: 50px;
    }
    /* about us endss */
    /* projects begins */
    .project{
        padding: 110px 0;
    }
    .left_text{
        
    }
    .left_text h1{
        margin-bottom: 4px;
    }
    .left_text h5{
        font-size: 19px;
    } 
    .left_text p{}   
    .btn_custom1{
        width: 240px;
        height: 55px;
        margin-top: 50px;
        font-size: 17px; 
    }
    .single-team{
        height: 350px;
        padding-top: 120px;
    }
    .single-team h2{
    }
    .single-team h4{}
    .single-team i{
        font-size: 2rem;
    }
    .single-team a{
        margin-top: 50px;
    }
    
    /* projects ends */
    /* testimonials begins */
    .custom-indicator{
        bottom: -48px;
    }
    /* testimonials ends */
    /* blog starts */
    .blog{
        padding: 80px 0;
    }
    .btn_custom2{
        font-size: 17px;
    }
    /* blog ends */
    /* contact begins */
    .contact{
        padding-top: 30px;
    }
    .contact-btn{
        margin-top: 0;
        width: 190px;
        height: 55px;
    }
    .lt{
        margin-top: 60px;
    }
    .contact img{
        margin-top: 173px;
    }
    /* contact ends */
    /* .bulk{
        top: 114px;
    } */
}
